table, mat-paginator {
    background-color: transparent;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 50%;
  }
  
  td, th {
    width: 25%;
  }

  .container {
    display: inline-block;
    margin: 0 200px;
    
  }
  .spacer {
    display: flex;
    justify-content: space-between;
    color: #0e383f;
    font-weight: bold;
  }
  @media (max-width: 500px) {
    .container {
        margin: 0 10px;
    }
  }
  input[type=text], select {
    padding: 5px 20px;
    margin: 8px 0;
    display: inline-block;
  
    border: none;                   
    border-bottom: 2px solid #0e383f; 
    box-sizing: border-box;
    background-color: transparent;

    transition: border-color 0.3s ease;
  }
  
  input[type=text]:focus, select:focus {
    outline: none;                
    border-bottom: 2px solid #3f51b5; 
  }
  .input-container {
    display: -ms-flexbox; 
    display: flex;
    margin-bottom: 15px;
  }
  mat-icon {
        margin-top: 12px;
        background: none;
        color: #0e383f;
        position: relative;
        left: -25px;
  }
.btn-outline-dark.btn-sm:hover {
    background-color: #0e383f;  
    color: white;               
    border-color: #0e383f;      
  }
  table {
    width: 100%;
    table-layout: auto; /* allows columns to grow/shrink with content */
    border-collapse: collapse;
  }
  
  .mat-header-cell, .mat-cell {
    white-space: nowrap;   /* prevents text from wrapping */
    padding: 8px 16px;
  }
  .extra-width{
    width: 100%;
  }
  