<mat-list>
    <mat-list-item>
        <div class="spacer">
            <span>Waizi Mini Mart</span>
            <span>{{ currentDate | date:'medium' }}</span>
        </div>
    </mat-list-item>
    <mat-divider></mat-divider>
</mat-list>

<div class="container row">

    <div class="mat-elevation-z8 col-lg-8">
        <input style="width: 35%;" [(ngModel)]="searchText" (ngModelChange)="applyFilter($event)" class="input-field"
            type="text" placeholder="Search" name="usrnm">
        <mat-icon color="white">search</mat-icon> &nbsp;&nbsp;
        <button type="button" class="btn btn-outline-dark btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Save New Record
        </button>
        <table mat-table [dataSource]="dataSource" matSort>

            <!-- Barcode Column -->
            <ng-container matColumnDef="barcode">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> BarCode </th>
                <td mat-cell *matCellDef="let row"> {{row.barcode}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let row">
                    <input class="input-field" type="text" *ngIf="row.isEditing" [(ngModel)]="row.name" />
                    <span *ngIf="!row.isEditing">{{ row.name }}</span>
                </td>
            </ng-container>

            <!-- Price Column -->
            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
                <td mat-cell *matCellDef="let row" >
                    <input class="input-field" type="text" *ngIf="row.isEditing" [(ngModel)]="row.price" />
                    <span *ngIf="!row.isEditing">Rs: {{ row.price }}</span>
                </td>
            </ng-container>

            <!-- Category Column -->


            <!-- Action Buttons Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let row" >
                    <button class="btn btn-sm btn-outline-dark" color="primary" (click)="editRow(row)"
                        *ngIf="!row.isEditing">Edit</button>
                    <button class="btn btn-sm btn-outline-dark" color="accent" (click)="saveRow(row)"
                        *ngIf="row.isEditing">Save</button>
                    <button class="btn btn-sm btn-outline-dark" color="warn" (click)="deleteRow(row)" *ngIf="!row.isEditing">Delete</button>
                    <button class="btn btn-sm btn-outline-dark" color="warn" (click)="cancelRow(row)"  *ngIf="row.isEditing">Cancel</button>
                </td>
            </ng-container>

            <!-- Rows -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>


    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form #productForm="ngForm">
                    <div class="input-container">
                        <input class="input-field extra-width" type="text" placeholder="BarCode" name="barcode"
                            [(ngModel)]="product.barcode">
                        <mat-icon (click)="openScanner()">qr_code_scanner</mat-icon>
                    </div>

                    <input class="input-field extra-width" type="text" placeholder="Name" name="name" [(ngModel)]="product.name"
                        required>
                    <input class="input-field extra-width" type="text" placeholder="Price" name="price" [(ngModel)]="product.price"
                        required>

                    <select id="category" class="extra-width" name="category" [(ngModel)]="product.category" required>
                        <option value="" disabled selected>Select Category</option>
                        <option *ngFor="let cat of category" [value]="cat.code">{{ cat.desc }}</option>
                    </select>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark btn-sm" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-dark btn-sm" (click)="saveProduct()">Save changes</button>
            </div>

        </div>
    </div>
    <video id="video" width="100%" height="300" autoplay></video>